<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.educational_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.educational_app">
        <activity
            android:name="com.educational_app.activity.ThankYouActivity"
            android:exported="false" />
        <activity
            android:name="com.educational_app.activity.MyCoursesActivity"
            android:exported="false" />
        <activity
            android:name="com.educational_app.activity.AboutUsActivity"
            android:exported="false" />
        <activity
            android:name="com.educational_app.activity.AllCourseActivity"
            android:exported="false" />
        <activity
            android:name="com.educational_app.activity.HelpActivity"
            android:exported="false" />
        <activity
            android:name="com.educational_app.activity.CartActivity"
            android:exported="true" />
        <activity
            android:name="com.educational_app.activity.OnBoardingScreenActivity"
            android:exported="true" />
        <activity
            android:name="com.educational_app.activity.ChapterDetails"
            android:exported="true" />
        <activity
            android:name="com.educational_app.activity.CourseDetailsActivity"
            android:exported="true" />
        <activity
            android:name="com.educational_app.activity.ChapterActivity"
            android:exported="true" />
        <activity
            android:name="com.educational_app.activity.Profile"
            android:exported="true" />
        <activity
            android:name="com.educational_app.activity.SetupProfileActivity"
            android:exported="true" />
        <activity
            android:name="com.educational_app.activity.ActivityHome"
            android:exported="true" />
        <activity
            android:name="com.educational_app.activity.OtpVerification"
            android:exported="true" />
        <activity
            android:name="com.educational_app.activity.SignIn"
            android:exported="true" />
        <activity
            android:name="com.educational_app.activity.ResultActivity"
            android:exported="true" />
        <activity
            android:name="com.educational_app.activity.QuizActivity"
            android:exported="true" />
        <activity
            android:name="com.educational_app.activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.razorpay.RzpTokenReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="rzp.device_token.share" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.razorpay.CheckoutActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@style/CheckoutTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <data
                    android:host="rzp.io"
                    android:scheme="io.rzp" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>